{% extends "shop/base.html" %}

{% block content %}
{% if user.is_authenticated %}
  <h1>Hello {{ user }}</h1>
  {% else %}
  <h1>Login My friend !</h1>
{% endif %}
<div class="row container-fluid">
<!-- side bar  -->
<div class="col-md-3">
  <ul class="list-group">
    <li class="list-group-item active" aria-current="true">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
</div>

<!-- side bar ends here ! -->


<!-- Products listing  -->
<div class="col-md-9">
<div class="row ml-3 mr-3">
{% for product in products %}

<div class="col-md-3">
  <div class="card" style="width: 17rem;">
    <img src="{{ product.image.url }}" style="width:200px; height:170px;" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">{{ product.description | truncatechars:50 }}</p>
      <button href="#" class="add-btn btn btn-primary">add to cart</button>
      <a href="{% url 'detail' product.slug %}" class="btn btn-outline-info">view</a>
      
    </div>
  </div>
  </div>
  
{% endfor %}
</div>
</div>

</div>
<!-- Products listing ends here ! -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>

  $(".add-btn").on('click',function () {
    $.ajax({
     type: "POST",
     url: '{% url "cartHandler" %}',
     data: 'datadata',
     success: successHandler,
    });
  })


function successHandler(json){
  console.log(json);
}

</script>
{% endblock content %}
